/* You can add global styles to this file, and also import other style files */
@import "assets/forms.css";
@import "assets/tabs.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

html,
body {
  background-color: #eff2f5 !important;
}

.background-grey {
  background-color: #eff2f5 !important;
}

.main-container {
  margin: 50px;
}

.min-height-600 {
  min-height: 600px;
}

.min-height-80 {
  min-height: 80px;
}

.no-flex-wrap {
  flex-wrap: inherit !important;
}

.border-none {
  border: none;
}

.border {
  border: 2px solid !important;
}

.border-end {
  border-right: 2px solid !important;
}

.liste {
  height: 345px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sousListe {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

img.membre-liste {
  width: 100px;
}

.cadre-photo-mebre-liste {
  overflow: hidden;
}
