/* You can add global styles to this file, and also import other style files */
@import "assets/forms.css";
@import "assets/tabs.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

.entete-page{
  position: fixed;
  top: 56px;
  z-index: 10;
  background-color: white;
  padding-top: 5px;
  border-bottom: 2px solid black;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

.modal-body {
  padding: 0;
}

// Validation du formulaire
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.info {
  font-size: 1.5em;
}

th {
  text-align: center;
}

