<div class="col">
  <div class="row m-3">
    <div class="col-md-8">
      <h1>Liste des comptes</h1>
    </div>
    <div class="col-md-4">
      <app-bouton-action (clickEvent)="nouveauCompte()"></app-bouton-action>
    </div>
  </div>
  <div class="row m-3 liste">
    <div
      class="col-md-3 mb-3"
      *ngFor="let membre of membres | sort : ['nom', 'asc']"
    >
      <app-detail-compte
        [membre]="membre"
        [sexe]="getSexe(membre.sexeId)"
        [poste]="getPoste(membre.posteId)"
        [lieuAffectation]="getLieuAffectation(membre.lieuAffectationId)"
        [solde]="getSolde(membre.id)"
      ></app-detail-compte>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
