<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        Cotisations
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        Cotisations
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        Cotisations
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-9">
    <div class="card shadow">
      <div class="card-body">
        <table class="table table-sm table-responsive">
          <tbody>
            <tr class="align-middle">
              <th>Nom</th>
              <td>{{membre?.nom | uppercase}}</td>
            </tr>
            <tr class="align-middle">
              <th>Prénom</th>
              <td>{{membre?.prenom | uppercase}}</td>
            </tr>
            <tr class="align-middle">
              <th>Sexe</th>
              <td>{{afficheSexe()}}</td>
            </tr>
            <tr class="align-middle">
              <th>Email</th>
              <td>{{membre?.email}}</td>
            </tr>
            <tr class="align-middle">
              <th>Téléphone</th>
              <td>{{membre?.telephone}}</td>
            </tr>
            <tr class="align-middle">
              <th>Agence</th>
              <td>{{afficheAgence()}}</td>
            </tr>
            <tr class="align-middle">
              <th>Service</th>
              <td>{{afficheService()}}</td>
            </tr>
            <tr class="align-middle">
              <th>Frais d'Adhésion</th>
              <td>{{membre?.fraisAdhesion | number}}&nbsp;FCFA</td>
            </tr>
            <tr class="align-middle">
              <th>Date d'Adhésion</th>
              <td>{{membre?.dateAdhesion|date:'dd/MM/yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow">
      <div class="card-body">
        <div class="col">
          <div class="list-group">
            <button class="btn btn-outline-success mb-2" *ngIf="!membre?.estActif">
              <i class="fa fa-user-check"></i>&nbsp;
              Activer
            </button>
            <button class="btn btn-outline-warning mb-2" data-bs-toggle="modal" data-bs-target="#addMembre">
              <i class="fa fa-edit"></i>&nbsp;
              Editer
            </button>
            <button class="btn btn-outline-danger mb-2" [disabled]="!membre?.estActif">
              <i class="fa fa-coins"></i>&nbsp;
              Solder
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            Statistiques
          </div>
          <div class="col-md-4">
            <div class="col">
              <div>
                Courbe 1
              </div>
              <div>
                Courbe 2
              </div>
              <div>
                Courbe 3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
