<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="mb-2 text-gray-800">Liste des credits</h1>
    </div>
    <div class="col-md-4">
      <app-bouton-action (clickEvent)="nouveauCredit()"></app-bouton-action>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Liste des avances accordées
      </h6>
    </div>
    <div class="card-body">
      <div class="list-group">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action"
          aria-current="true"
          *ngFor="let credit of credits | sort : ['id', 'desc']"
        >
          <div class="row" (click)="navigate(credit.id)">
            <div class="col-12">
              <!-- <app-details-membre
                [membre]="credit.membre"
                [solde]="getSolde(credit)"
                [afficheSolde]="true"
              ></app-details-membre> -->
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
