<div class="row">
  <div class="col-md-12">
    <div class="card border-none">
      <div class="card-body">
        <div class="row m-3">
          <div class="col-md-12">
            <div class="col-md-12 mb-3">
              <h2>
                <i class="fa fa-info-circle text-primary"></i>&nbsp;Informations
                du compte
              </h2>
            </div>
            <div class="col-md-12">
              <form #membreForm="ngForm">
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <input
                      type="text"
                      id="compte"
                      class="form-control"
                      name="compte"
                      [(ngModel)]="compte.compte"
                      placeholder="Le numéro de compte"
                    />
                  </div>
                  <div class="mb-3 col-md-6">
                    <input
                      type="text"
                      id="libelle"
                      class="form-control"
                      name="libelle"
                      [(ngModel)]="compte.libelle"
                      placeholder="Le libellé du compte"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-12 text-end">
              <button
                type="button"
                class="btn btn-danger me-2"
                (click)="cancel()"
              >
                <i class="fa fa-ban"></i>&nbsp; Annuler
              </button>
              <button
                type="button"
                class="btn btn-success"
                (click)="enregistrerCompte()"
              >
                <i class="fa fa-save"></i>&nbsp; Enregistrer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
