
<div class="row">
  <div class="col-md-12 zone-impression mb-3">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr class="align-middle">
          <th>#</th>
          <th>Periode</th>
          <th>Montant</th>
          <th>90%</th>
          <th>10%</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cotisations; let i=index" class="align-middle">
          <td>{{i+1}}</td>
          <td>{{item.periode}}</td>
          <td class="text-end">{{item.montant | number}}</td>
          <td class="text-end">{{calcul90Pourcent(item.montant) | number}}</td>
          <td class="text-end">{{calcul10Pourcent(item.montant) | number}}</td>
          <td class="text-center">
            <button class="btn btn-warning" (click)="modifCotisation(item)" data-bs-toggle="modal" data-bs-target="#updateCotisation">
              <i class="fa fa-edit"></i>&nbsp;
              Modifier
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



