<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-4 card shadow">
    <div class="card-body">
      <form action="">
        <div class="mb-3">
          <label class="form-label" for="login">Login</label>
          <input
            class="form-control"
            type="text"
            placeholder="login..."
            name="login"
            id="login"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Mot de passe</label>
          <input
            class="form-control"
            type="password"
            placeholder="Mot de passe...."
            name="password"
            id="password"
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary form-control">
            Se connecter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
