<div class="row mb-1 rounded-start border p-1">
  <div class="col-md-1 cadre-photo border-end">
    <img src="{{ membre.photoUrl }}" alt="" class="rounded-start" />
  </div>
  <div class="col-md-4 border-end">
    <div class="row">
      <div class="col-1 text-primary"><i class="fa fa-info-circle"></i></div>
      <div class="col-11">
        {{ membre.nom | uppercase }}
      </div>
    </div>
    <div class="row">
      <div class="col-1 text-primary"><i class="fa fa-info-circle"></i></div>
      <div class="col-11">
        {{ membre.sexe?.nom }}
      </div>
    </div>
    <div class="row">
      <div class="col-1 text-primary">
        <i class="far fa-calendar-alt"></i>
      </div>
      <div class="col-11">
        {{ membre.dateNaissance | date }}
      </div>
    </div>
    <div class="row">
      <div class="col-1 text-primary">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="col-11">
        {{ membre.lieuNaissance }}
      </div>
    </div>
  </div>
  <div class="col-md-4 border-end">
    <div class="row">
      <div class="col-1 text-primary">
        <i class="fas fa-phone-alt"></i>
      </div>
      <div class="col-11">
        {{ membre.contact }}
      </div>
    </div>
    <div class="row">
      <div class="col-1 text-primary"><i class="fas fa-envelope"></i></div>
      <div class="col-11">
        {{ membre.email }}
      </div>
    </div>
    <div class="row">
      <div class="col-1 text-primary">
        <i class="fas fa-sitemap"></i>
      </div>
      <div class="col-11">
        {{ membre.poste?.libelle }}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-link">
          <i class="fas fa-pencil-alt"></i>&nbsp; Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-link text-danger">
          <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-link">
          <i class="far fa-list-alt"></i>&nbsp;Details
        </button>
      </div>
    </div>
  </div>
</div>
