<div class="row">
  <div class="col">
    <input
      type="search"
      class="form-control"
      placeholder="Recherche..."
      [(ngModel)]="search"
    />
  </div>
</div>
<hr />
<div class="row">
  <div class="col liste">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let membre of membres | filter : search : 'nom'">
          <td (click)="sendMembre(membre.id)" data-dismiss="modal">
            <div class="row">
              <div class="col-12">
                <app-detail-membre
                  [membreId]="membre.id"
                  [width]="width"
                ></app-detail-membre>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
