
<div class="row">
  <div class="col-md-12 zone-impression mb-3">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr class="align-middle">
          <th>#</th>
          <th>Date Debut</th>
          <th>Date Fin</th>
          <th>Montant</th>
          <th>Echéances</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of credits; let i=index" class="align-middle">
          <td>{{i+1}}</td>
          <td>{{item.dateDebut | date: 'MMMM y'}}</td>
          <td>{{item.dateFin | date: 'MMMM y'}}</td>
          <td class="text-end">{{item.montant | number}}</td>
          <td class="text-end">{{item.echeances | number}}</td>
          <td class="text-center">
            <button class="btn btn-warning" (click)="modifCredit(item)" data-bs-toggle="modal" data-bs-target="#updateCotisation">
              <i class="fa fa-edit"></i>&nbsp;
              Modifier
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



