<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des membres</h1>
    </div>
    <div class="col-md-4">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="row m-3 no-flex-wrap">
    <!-- <app-detail-membre
      *ngFor="let membre of membres"
      [membre]="membre"
    ></app-detail-membre> -->
  </div>
  <div class="row m-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
