<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="mb-2 text-gray-800">Les cotisations des membres</h1>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Liste des cotisations par membre
      </h6>
    </div>
    <div class="card-body">
      <div class="list-group">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action"
          aria-current="true"
          *ngFor="let cotisation of cotisations | sort : ['nom', 'asc']"
          [ngClass]="{
            'border-left-success text-success': cotisation.membre.estActif,
            'border-left-danger text-danger': !cotisation.membre.estActif
          }"
        >
          <div class="row" (click)="navigate(cotisation.membre.id)">
            <div class="col-12">
              <app-details-membre
                [membre]="cotisation.membre"
                [solde]="cotisation.solde"
                [afficheSolde]="true"
              ></app-details-membre>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
