<div class="card mb-1 border">
  <div class="card-body p-1">
    <div class="row">
      <div class="col-md-2 border-end">
        <div class="row">
          <div class="col-12 text-center">
            <span class="h6"> {{ "2023-01-01" | date }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 border-end">
        <div class="row">
          <div class="col-12">
            <span class="h6">Cotisation du 10/10/2023</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 border-end">
        <div class="row">
          <div class="col-12 text-end">
            <span class="h6">{{ 100000 | number }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 border-end">
        <div class="row">
          <div class="col-12">
            <span class="h6">Sortie</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
