<div class="container-fluid entete-page">
  <div class="container" style="width: 1080px;">
    <div class="row">
      <div class="col-md-8">
        <h1>Liste des agences</h1>
      </div>
      <div class="col-md-4 text-end">
        <button class="btn btn-primary mt-1" routerLink="/add-agence/0">
          <i class="fa fa-plus"></i>&nbsp;
          Ajouter une agence
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 140px; width: 1080px;">
  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4" *ngFor="let agence of agences">
      <app-agence [agence]="agence"></app-agence>
    </div>
  </div>
</div>
