<div class="row">
  <div class="col">
    <app-details-membre [membre]="membre"></app-details-membre>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col text-right">
            <h5>
              <span
                class="badge"
                [ngClass]="{
                  'badge-success': status == 'Soldé',
                  'badge-danger': status == 'Déboursé',
                  'badge-primary': status == 'Enregistré'
                }"
                >{{ status }}</span
              >
            </h5>
            <h5 class="text-success text-right" *ngIf="status != 'Enregistré'">
              {{ solde | number }} FCFA
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
