<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card shadow">
      <div class="card-body">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr class="align-middle">
              <th>#</th>
              <th>Date debut</th>
              <th>Date Fin</th>
              <th>Montant</th>
              <th>Echéances</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of avances; let i=index" class="align-middle">
              <td>{{i+1}}</td>
              <td>{{item.dateDebut | date: 'MMMM y'}}</td>
              <td>{{item.dateFin | date: 'MMMM y'}}</td>
              <td class="text-end">{{item.montant| number}}</td>
              <td class="text-end">{{nbrEcheances(item)| number}}</td>
              <td class="text-center">
                <button class="btn btn-warning" (click)="modifAvance(item)" data-bs-toggle="modal"
                  data-bs-target="#updateAvance">
                  <i class="fa fa-edit"></i>&nbsp;
                  Modifier
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
