<div class="modal-dialog modal-dialog-centered modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">{{titre}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form #membreForm="ngForm" (ngSubmit)="onSubmit(membreForm)">
      <div class="modal-body p-3">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating">
              <input type="text" id="nom" class="form-control" name="nom" [(ngModel)]="membre.nom"
                placeholder="Nom du membre">
              <label for="nom">Nom</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input type="text" id="prenom" class="form-control" name="prenom" [(ngModel)]="membre.prenom"
                placeholder="Prénom du membre">
              <label for="prenom">Prénom</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating">
              <select class="form-control" name="sexe" id="sexe" (change)="changerPhotoProfil()"
                [(ngModel)]="membre.sexeId">
                <option value="undefined">Sexe du membre</option>
                <option *ngFor="let item of sexes" value="{{item.id}}">{{item.nom}}</option>
              </select>
              <label for="sexe">Sexe</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input type="email" id="email" class="form-control" name="email" [(ngModel)]="membre.email"
                placeholder="L'email du membre">
              <label for="email">Email</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating">
              <input type="tel" id="telephone" class="form-control" name="telephone" [(ngModel)]="membre.telephone"
                placeholder="Le contact du membre">
              <label for="telephone" class="form-label">Téléphone</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <select class="form-control" name="agence" id="agence" [(ngModel)]="membre.agenceId">
                <option value="undefined">Agence du membre</option>
                <option *ngFor="let item of agences" value="{{item.id}}">{{item.nom}}</option>
              </select>
              <label for="agence" class="form-label">Agence</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating">
              <select class="form-control" name="service" id="service" [(ngModel)]="membre.serviceId">
                <option value="undefined">Service du membre</option>
                <option *ngFor="let item of services" value="{{item.id}}">{{item.nom}}</option>
              </select>
              <label for="service" class="form-label">Service</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input type="number" id="fraisAdhesion" class="form-control" name="fraisAdhesion"
                [(ngModel)]="membre.fraisAdhesion" placeholder="Le contact du membre">
              <label for="fraisAdhesion" class="form-label">Frais d'adhésion</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating">
              <input type="date" id="dateAdhesion" class="form-control" name="dateAdhesion"
                [(ngModel)]="membre.dateAdhesion" placeholder="Date d'adhésion du membre">
              <label for="dateAdhesion" class="form-label">Date d'adhésion</label>
            </div>
          </div>
          <div *ngIf="membre.fraisAdhesion" class="col-md-6">
            <div class="h3 text-end pt-3">
              {{membre.fraisAdhesion | number}}&nbsp;
              FCFA
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i>&nbsp;
          Enregistrer
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="annuler()" #closeMembreFormModal>
          <i class="fa fa-close"></i>&nbsp;
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
