<!-- <div class="card shadow">
  <div class="card-body">
    <div class="h3">Ajout d'un membre</div>
    <p>Formulaire d'enregistrement d'un membre</p>
    <hr />
    <form
      #membreForm="ngForm"
      (ngSubmit)="onSubmit(membreForm)"
      class="was-validated"
    >
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="mb-3 col-8">
              <label for="nom" class="form-label">Nom du membre</label>
              <input
                type="text"
                id="nom"
                class="form-control"
                name="nom"
                [(ngModel)]="membre.nom"
                required
                placeholder="Le nom du membre"
              />
              <div class="invalid-feedback">
                Le nom du membre est obligatoire.
              </div>
            </div>
            <div class="mb-3 col-4">
              <label for="personnelId" class="form-label"
                >Identifiant Paie</label
              >
              <input
                type="number"
                id="personnelId"
                class="form-control"
                name="personnelId"
                [(ngModel)]="membre.personnelId"
                required
                placeholder="L'identifiant paie du membre"
                min="1"
              />
              <div class="invalid-feedback">
                L'identifiant paie du membre est obligatoire.
              </div>
            </div>
            <div class="mb-3 col-4">
              <label for="sexeId" class="form-label">Le sexe du membre</label>
              <select
                id="sexeId"
                name="sexeId"
                [(ngModel)]="membre.sexe?.id"
                class="form-select"
                required
              >
                <option *ngFor="let sex of sexes" value="{{ sex.id }}">
                  {{ sex.nom }}
                </option>
              </select>
              <div class="invalid-feedback">
                Vous devez choisir le sexe du membre.
              </div>
            </div>
            <div class="mb-3 col-4">
              <label for="posteId" class="form-label">Le poste du membre</label>
              <select
                id="posteId"
                name="posteId"
                [(ngModel)]="membre.posteId"
                class="form-select"
                required
              >
                <option *ngFor="let post of postes" value="{{ post.id }}">
                  {{ post.libelle }}
                </option>
              </select>
              <div class="invalid-feedback">
                Vous devez choisir le poste du membre.
              </div>
            </div>
            <div class="col-4">
              <label for="dateNaissance" class="form-label"
                >Date de naissance</label
              >
              <input
                type="date"
                id="dateNaissance"
                class="form-control"
                name="dateNaissance"
                [(ngModel)]="membre.dateNaissance"
                required
                placeholder="La date de naissance du membre"
              />
              <div class="invalid-feedback">
                La date de naissance du membre est obligatoire.
              </div>
            </div>
            <div class="col-4">
              <label for="lieuNaissance" class="form-label"
                >Lieu de naissance</label
              >
              <input
                type="text"
                id="lieuNaissance"
                class="form-control"
                name="lieuNaissance"
                [(ngModel)]="membre.lieuNaissance"
                required
                placeholder="Le lieu de naissance du membre"
              />
              <div class="invalid-feedback">
                Le lieu de naissance du membre est obligatoire.
              </div>
            </div>
            <div class="col-4">
              <label for="contact" class="form-label">Téléphone</label>
              <input
                type="text"
                id="contact"
                class="form-control"
                name="contact"
                [(ngModel)]="membre.contact"
                required
                placeholder="Le numéro de téléphone du membre"
              />
              <div class="invalid-feedback">Le contact est obligatoire.</div>
            </div>
            <div class="col-4">
              <label for="email" class="form-label">L'email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                [(ngModel)]="membre.email"
                placeholder="L'email du membre"
                required
              />
            </div>
          </div>
        </div>
        <div class="col-4">
          <app-profil-membre [membre]="membre"></app-profil-membre>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col d-flex justify-content-between">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i>&nbsp; Enregistrer
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            <i class="fa fa-close"></i>&nbsp; Annuler
          </button>
        </div>
      </div>
    </form>
  </div>
</div> -->
