<app-bouton-action [(action)]="action" (actionChange)="clickAction()"></app-bouton-action>

<app-cotisation-list
  [cotisations]="cotisations"
  [(cotisation)]="cotisation"
  (cotisationChange)="deleteCotisation()"
></app-cotisation-list>

<app-pagination></app-pagination>

<div
  id="newAdd"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="newAdd"
  aria-hidden="true"
>
  <app-add-cotisation
    [(cotisation)]="cotisation"
    (cotisationChange)="addCotisation()"
  ></app-add-cotisation>
</div>


