<div class="row">
  <!--


  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card shadow m-0 mt-3">
      <div class="card-body" data-bs-toggle="modal" data-bs-target="#updatePhoto">
        <img src="{{imageUrl}}" class="card-img-top mb-1" alt="photo membre">
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item active" href="#profile" data-bs-toggle="tab">
          <i class="fa fa-user"></i>&nbsp;
          Profile
        </a>
        <a
          class="list-group-item"
          href="#cotisations"
          data-bs-toggle="tab"
          (click)="loadCotisations()"
        >
          <div class="position-relative">
            <i class="fa fa-sack-dollar"></i>&nbsp;
            Cotisations
          </div>
        </a>
        <a
          class="list-group-item"
          href="#avances"
          data-bs-toggle="tab"
          (click)="loadAvances()"
        >
          <div class="position-relative">
            <i class="fa fa-hand-holding-dollar"></i>&nbsp;
            Avances
          </div>
        </a>
        <a class="list-group-item" href="#credits" data-bs-toggle="tab">
          <div class="position-relative">
            <i class="fa fa-money-check"></i>&nbsp;
            Crédits
          </div>
        </a>
      </div>
    </div>
  </div>
  -->

  <div class="col-3">
    <app-nav-bar
      [menuProperties]="menuMembre"
    ></app-nav-bar>
  </div>

  <div class="col-9 mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<div
  id="updateCotisation"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="updateCotisation"
  aria-hidden="true"
>
  <app-add-cotisation
    [(cotisation)]="cotisation"
    (cotisationChange)="addCotisation()"
  ></app-add-cotisation>
</div>



<div
  id="updateCredit"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="updateCredit"
  aria-hidden="true"
>
  <app-add-credit
    [(credit)]="credit"
    (creditChange)="addCredit()"
  ></app-add-credit>
</div>

<div
  id="updatePhoto"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="updatePhoto"
  aria-hidden="true"
>
  <app-add-picture
    [membre]="membre"
    (membreChange)="update()"
  ></app-add-picture>
</div>

<div
  id="addMembre"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="addMembre"
  aria-hidden="true"
>
  <app-add-membre
    [membre]="membre"
    [titre]="titre"
    (membreChange)="update()"
  ></app-add-membre>
</div>
