<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <form #membreForm="ngForm" (ngSubmit)="onSubmit(membreForm)">
     <div class="modal-body">
     <div class="card shadow">
      <div class="card-header">
        <h3>Formulaire membre</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nom" class="form-label">Nom</label>
              <input type="text" id="nom" class="form-control" name="nom"
                [(ngModel)]="membre.nom">
          </div>
          <div class="col-md-6 mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" id="prenom" class="form-control" name="prenom"
              [(ngModel)]="membre.prenom">
          </div>
          <div class="col-md-6 mb-3">
            <label for="sexe" class="form-label">Sexe</label>
            <select class="form-control" name="sexe" id="sexe"
              (change)="changerPhotoProfil()"
              [(ngModel)]="membre.sexeId">
              <option value="">--Selectionner un sexe--</option>
              <option *ngFor="let item of sexes" value="{{item.id}}">{{item.nom}}</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" name="email"
              [(ngModel)]="membre.email">
          </div>
          <div class="col-md-6 mb-3">
            <label for="telephone" class="form-label">Téléphone</label>
              <input type="tel" id="telephone" class="form-control" name="telephone"
                [(ngModel)]="membre.telephone">
          </div>
          <div class="col-md-6 mb-3">
            <label for="agence" class="form-label">Agence</label>
            <select class="form-control" name="agence" id="agence"
              [(ngModel)]="membre.agenceId">
              <option value="">--Selectionner une agence--</option>
              <option *ngFor="let item of agences" value="{{item.id}}">{{item.nom}}</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="service" class="form-label">Service</label>
              <select class="form-control" name="service" id="service"
                [(ngModel)]="membre.serviceId">
                <option value="">--Selectionner un service--</option>
                <option *ngFor="let item of services" value="{{item.id}}">{{item.nom}}</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="btn-group">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-save"></i>&nbsp;
              Enregistrer
            </button>
            <button type="reset" [disabled]="membre.id" class="btn btn-warning">
              <i class="fa fa-refresh"></i>&nbsp;
              Recommencer
            </button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
            (click)="annuler()" #closeMembreFormModal>
              <i class="fa fa-close"></i>&nbsp;
              Annuler
            </button>
          </div>
        </div>
      </div>

     </div>
     </div>
    </form>
  </div>
</div>


