<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <form [formGroup]="membreForm" (ngSubmit)="onSubmit()">
     <div class="modal-body">
     <div class="card shadow">
      <div class="card-header">
        <h3>{{titreFormulaire}}</h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <div class="row">
            <div class="col-6 p-2 text-center">
              <div class="image-container m-auto shadow">
                <img src="{{baseUrl}}{{membre.photo}}" alt="Photo membre">
                <label for="photo" class="user-edit">
                  <i class="fa fa-user-edit"></i>
                </label>
              </div>
              <input type="file" name="photo" id="photo" (change)="fileBrowseHandler($event)">
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label for="nom" class="form-label">Nom</label>
              <input type="text" id="nom" class="form-control" formControlName="nom"
                [ngClass]="{ 'is-invalid': nom.invalid && (nom.touched || membreSubmitted)}"
                [(ngModel)]="membre.nom">
              </div>
              <div class="mb-1">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" id="prenom" class="form-control" formControlName="prenom"
                  [ngClass]="{ 'is-invalid': prenom.invalid && (prenom.touched || membreSubmitted)}"
                  [(ngModel)]="membre.prenom">
              </div>
              <div class="mb-1">
                <label for="sexe" class="form-label">Sexe</label>
                <select class="form-control" formControlName="sexe" id="sexe"
                  (change)="changerPhotoProfil()"
                  [ngClass]="{ 'is-invalid': sexe.invalid && (sexe.touched || membreSubmitted)}"
                  [(ngModel)]="membre.sexeId">
                  <option value="">--Selectionner un sexe--</option>
                  <option *ngFor="let item of sexes" value="{{item.id}}">{{item.nom}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-1">
          <div class="row">
            <div class="col-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email"
                [ngClass]="{ 'is-invalid': email.invalid && (email.touched || membreSubmitted)}"
                [(ngModel)]="membre.email">
            </div>
            <div class="col-6">
              <label for="telephone" class="form-label">Téléphone</label>
              <input type="tel" id="telephone" class="form-control" formControlName="telephone"
                [ngClass]="{ 'is-invalid': telephone.invalid && (telephone.touched || membreSubmitted)}"
                [(ngModel)]="membre.telephone">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="agence" class="form-label">Agence</label>
                <select class="form-control" formControlName="agence" id="agence"
                  [ngClass]="{ 'is-invalid': agence.invalid && (agence.touched || membreSubmitted)}"
                  [(ngModel)]="membre.agenceId">
                  <option value="">--Selectionner une agence--</option>
                  <option *ngFor="let item of agences" value="{{item.id}}">{{item.nom}}</option>
                </select>
            </div>
            <div class="col-6">
              <label for="service" class="form-label">Service</label>
              <select class="form-control" formControlName="service" id="service"
                [ngClass]="{ 'is-invalid': service.invalid && (service.touched || membreSubmitted)}"
                [(ngModel)]="membre.serviceId">
                <option value="">--Selectionner un service--</option>
                <option *ngFor="let item of services" value="{{item.id}}">{{item.nom}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btn-group">
            <button type="submit" class="btn btn-outline-primary">
              <i class="fa fa-save"></i>&nbsp;
              Enregistrer
            </button>
            <button type="reset" class="btn btn-outline-primary">
              <i class="fa fa-refresh"></i>&nbsp;
              Recommencer
            </button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
              <i class="fa fa-close"></i>&nbsp;
              Annuler
            </button>
          </div>
        </div>
      </div>

     </div>
     </div>
    </form>
  </div>
</div>


