<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card shadow liste">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <table class="table table-hover table-striped">
              <thead>
                <tr class="align-middle">
                  <th>#</th>
                  <th>Gabarit</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let gabarit of gabarits"
                  (click)="showDetails(gabarit.id)"
                >
                  <th scope="row">{{ gabarit.id }}</th>
                  <td>{{ gabarit.libelle }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
