.photo-control {
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed blue;
  margin: 5px;
}

input[type='file'] {
  opacity: 0;
}

.single-file {
  height: 75px;
  padding: 2px;
  border: 2px solid blue;
  overflow: hidden;
  position: relative;
}

.isPrimary {
  border-color: green;
}

.single-file:hover {
  border-color: red;
}

.single-file img {
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 100%;
}

.single-file:hover img {
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 100%;
  opacity: .7;
}


.photo-icons {
  color: red;
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.single-file:hover .photo-icons {
  bottom: 0;
  opacity: 1;
}

.photo-icons:hover {
  cursor: pointer;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.uploadProgress {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-weight: bold;
}
