<div class="card shadow">
  <div class="card-body">
    <div class="h3 text-info">
      <i class="fas fa-info-circle"></i> Infos Sexe
    </div>
    <hr />
    <div class="row">
      <div class="col-6">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th colspan="3">Sexe</th>
            </tr>
            <tr>
              <td colspan="3">{{ sexe.nom }}</td>
            </tr>
            <tr>
              <th>Créé par</th>
              <th>Modifié le</th>
              <th>Par</th>
            </tr>
            <tr>
              <td>{{ sexe.creePar }}</td>
              <td>{{ sexe.modifieLe | date }}</td>
              <td>{{ sexe.modifiePar }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-warning" (click)="onUpdate()">
          <i class="fa fa-edit"></i>&nbsp; Modifier
        </button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">
          <i class="fa fa-trash"></i>&nbsp; Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
