<div class="modal-dialog modal-dialog-centered modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Enregistrement d'une avance</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form #avanceForm="ngForm" (ngSubmit)="onSubmit(avanceForm)">
      <div class="modal-body p-3">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input
                    type="date"
                    id="dateDeblocage"
                    class="form-control"
                    name="dateDeblocage"
                    [(ngModel)]="avance.dateDeblocage"
                    required
                    placeholder="La date de déblocage"
                  />
                  <label for="dateDeblocage" class="form-label">Date déblocage</label>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input
                    type="month"
                    id="dateDebut"
                    class="form-control"
                    name="dateDebut"
                    [(ngModel)]="avance.dateDebut"
                    required
                    placeholder="La date de début"
                  />
                  <label for="dateDebut" class="form-label">Date début</label>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input
                    type="month"
                    id="dateFin"
                    class="form-control"
                    name="dateFin"
                    [(ngModel)]="avance.dateFin"
                    placeholder="La date de fin"
                    required
                  />
                  <label for="dateFin" class="form-label">Date fin</label>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-floating input-group">
                  <input
                    type="number"
                    id="montant"
                    class="form-control col-6"
                    name="montant"
                    [(ngModel)]="avance.montant" required
                    placeholder="Montant de l'avance"
                  />
                  <label for="montant" class="form-label">Montant</label>
                  <button type="button" class="btn btn-warning info text-end col-6">
                    {{avance.montant | number}}&nbsp;
                    FCFA
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <div class="row mb-3">
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(0,6)"
              [debut]="1"
            ></app-echeancier-avance>
          </div>
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(6,12)"
              [debut]="7"
            ></app-echeancier-avance>
          </div>
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(12,18)"
              [debut]="13"
            ></app-echeancier-avance>
          </div>
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(18,24)"
              [debut]="19"
            ></app-echeancier-avance>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="avanceForm.invalid" type="button" class="btn btn-warning" (click)="chargeEcheancier()">
          <i class="fa fa-refresh"></i>&nbsp;
          Charger l'échéancier
        </button>
        <button type="submit" class="btn btn-success" (click)="clickAction(3)">
          <i class="fa fa-save"></i>&nbsp;
          Enregistrer
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="clickAction(4)" #closeAvanceFormModal>
          <i class="fa fa-close"></i>&nbsp;
          Fermer
        </button>
      </div>
    </form>
  </div>
</div>
