<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-between">
      <h1 class="mb-2 text-gray-800">
        <i class="fa fa-info-circle text-primary"></i>
        &nbsp;Informations du compte
      </h1>
      <h1 class="mb-2 text-gray-800">{{ soldeCompte() | number }} FCFA</h1>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Informations du compte</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <app-infos-membre [membre]="membre"></app-infos-membre>
        </div>
        <div class="col">
          <div class="row mb-2 d-flex justify-content-between">
            <div class="col">
              <a href="javascript:void(0);" (click)="cancel()"
                ><i class="fa fa-arrow-left"></i> Retour à la page des
                comptes</a
              >
            </div>
            <div class="col text-right">
              <button class="btn btn-warning mr-2">
                <i class="fa fa-print"></i> Imprimer
              </button>
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#addPicture"
              >
                <i class="fa fa-plus"></i> Ajouter un mouvement
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col liste">
              <table class="table table-striped">
                <tbody>
                  <!-- <tr
                    *ngFor="
                      let mvtCompte of mvtComptes
                        | sort : ['id', 'desc']
                        | sort : ['dateMvt', 'desc'];
                      let i = index
                    "
                  > -->
                  <!-- <td class="text-center">{{ i + 1 }}</td>
                    <td>
                      {{ mvtCompte.dateMvt | date : "dd/MM/yyyy" }}
                    </td>
                    <td>
                      {{ getTypeOperation(mvtCompte.typeOperation) }}
                    </td> -->
                  <!-- <td>{{ mvtCompte.gabaritId }}</td> -->
                  <!-- <td>{{ mvtCompte.libelle }}</td>
                    <td class="text-right">
                      {{ mvtCompte.montant | number }} FCFA
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div
        id="addPicture"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="addPicture"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-header">Formulaire d'ajout de mouvement</div>
            <div class="modal-body">
              <div class="row">
                <div class="form-group col-6">
                  <label for="dateMvt" class="form-label">Date</label>
                  <input
                    type="date"
                    id="dateMvt"
                    name="dateMvt"
                    class="form-control"
                    [(ngModel)]="mvtCompte.dateMvt"
                    placeholder="La date du mouvement"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="typeOperation" class="form-label">Type</label>
                  <select
                    id="typeOperation"
                    name="typeOperation"
                    class="form-control"
                    [(ngModel)]="mvtCompte.typeOperation"
                  >
                    <option value="0">Débit</option>
                    <option value="1">Crédit</option>
                  </select>
                </div>

                <div class="form-group col-12">
                  <label for="gabaritId" class="form-label">Gabarit</label>
                  <select
                    id="gabaritId"
                    name="gabaritId"
                    class="form-control"
                    [(ngModel)]="mvtCompte.gabaritId"
                  >
                    <option
                      *ngFor="let gabarit of gabarits"
                      value="{{ gabarit.id }}"
                    >
                      {{ gabarit.libelle }}
                    </option>
                  </select>
                </div>

                <div class="form-group col-12">
                  <label for="libelle" class="form-label">Libellé</label>
                  <textarea
                    id="libelle"
                    name="libelle"
                    cols="10"
                    rows="5"
                    class="form-control"
                    [(ngModel)]="mvtCompte.libelle"
                  ></textarea>
                </div>

                <div class="form-group col-6">
                  <label for="montant" class="form-label">Montant</label>
                  <input
                    type="number"
                    id="montant"
                    name="montant"
                    class="form-control"
                    [(ngModel)]="mvtCompte.montant"
                    required
                    placeholder="Montant"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <!-- <button
                    type="button"
                    class="btn btn-success mr-2"
                    (click)="ajouterMvtCompte()"
                  >
                    <i class="fa fa-plus"></i> Ajouter
                  </button> -->
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    #closeModal
                  >
                    <i class="fa fa-ban"></i> Annuler
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
