<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card shadow">
      <div class="card-body">
        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr class="align-middle">
              <th>#</th>
              <th>Periode</th>
              <th>Montant</th>
              <th>90%</th>
              <th>10%</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cotisations; let i=index" class="align-middle">
              <td>{{i+1}}</td>
              <td>{{item.periode | date: 'MMMM y'}}</td>
              <td class="text-end">{{item.montant | number}}</td>
              <td class="text-end">{{calcul90Pourcent(item.montant) | number}}</td>
              <td class="text-end">{{calcul10Pourcent(item.montant) | number}}</td>
              <td class="text-center">
                <button class="btn btn-danger btn-sm" (click)="clickAction(item,3)">
                  <i class="fa fa-trash"></i>&nbsp;
                  Supprimer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
