<div
  class="card shadow"
  (click)="modifier()"
  [ngClass]="{
    'text-danger border': !membre.estActif,
    'text-success border': membre.estActif
  }"
>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5 border-end">
        <div class="card-img-wrapper rounded-circle thumbnail">
          <img src="{{ photo }}" alt="la photo du membre" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="d-block text-truncate infos">
          {{ membre.nom | uppercase }}
        </div>
        <div class="d-block text-truncate infos">
          {{ sexe?.nom | uppercase }}
        </div>
        <div class="d-block text-truncate infos">
          {{ poste?.libelle | uppercase }}
        </div>
        <div class="d-block text-truncate infos">
          {{ lieuAffectation?.lieu | uppercase }}
        </div>
        <div class="d-block h5 text-truncate text-primary">
          {{ solde | number }} FCFA
        </div>
      </div>
    </div>
  </div>
</div>
