<div class="row">
  <div class="col-md-12">
    <div class="row m-3">
      <div class="col-md-12 text-center">
        <img
          src="{{ imagesUrl }}/assets/images/{{ membre.photo }}"
          alt=""
          class="rounded-circle img-thumbnail"
        />
        <h5>{{ membre.nom | uppercase }}</h5>
        <small>
          <i class="fa fa-venus-mars"></i> {{ membre.sexe | uppercase }} |
          <i class="fa fa-sitemap"></i> {{ membre.poste | uppercase }} |
          <i class="fa fa-building"></i> {{ membre.lieu | uppercase }}
        </small>
      </div>
    </div>
  </div>
</div>
