<div class="row card m-1 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row m-3">
          <div class="col-md-12 text-center">
            <img [src]="photo" alt="" class="rounded-circle img-thumbnail" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Nom</th>
                  <td>{{ membre.nom | uppercase }}</td>
                </tr>
                <tr>
                  <th>Sexe</th>
                  <td>{{ sexe.nom | uppercase }}</td>
                </tr>
                <tr>
                  <th>Poste</th>
                  <td>{{ poste.libelle | uppercase }}</td>
                </tr>
                <tr>
                  <th>Affectation</th>
                  <td>{{ lieuAffectation.lieu | uppercase }}</td>
                </tr>
                <tr>
                  <th>Contact</th>
                  <td>{{ membre.contact }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
