<div class="row">
  <div class="col-2 text-center border-right">
    <img
      src="{{ imagesUrl }}/assets/images/{{ membre.photo }}"
      width="{{ width }}"
      class="rounded-circle"
    />
  </div>
  <div class="col-10 align-item-center">
    <div class="d-flex justify-content-between">
      <h5
        class="{{ size }}"
        [ngClass]="{
          'text-success': membre.estActif,
          'text-danger': !membre.estActif
        }"
      >
        {{ membre.nom }}
      </h5>
    </div>
    <p class="text-primary">
      <i class="fa fa-venus-mars"></i> {{ membre.sexe.nom | uppercase }} |
      <i class="fa fa-sitemap"></i> {{ membre.poste.libelle | uppercase }} |
      <i class="fa fa-building"></i>
      {{ membre.lieuAffectation.lieu | uppercase }}
    </p>
  </div>
</div>
