<div class="col">
  <div class="row m-2">
    <div class="col-md-8 p-1">
      <h1>Liste des membres</h1>
    </div>
    <div class="col-md-4">
      <app-bouton-action (clickEvent)="nouveauMembre()"></app-bouton-action>
    </div>
  </div>
  <div class="row m-3 no-flex-wrap border p-1 liste">
    <div class="col-md-12">
      <app-detail-membre></app-detail-membre>
      <app-detail-membre></app-detail-membre>
      <app-detail-membre></app-detail-membre>
      <app-detail-membre></app-detail-membre>
      <app-detail-membre></app-detail-membre>
      <app-detail-membre></app-detail-membre>
      <app-detail-membre></app-detail-membre>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
