<div class="modal-dialog modal-dialog-centered modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header bg-info ">
      <h3>Enregistrement des remboursements d'une avance</h3>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="annuler()"
      ></button>
    </div>
    <form #avanceForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="modal-body p-3">
        <div class="row">
          <div class="col-3">
            <table class="table table-bordered table-sm">
              <tbody>
                <tr>
                  <th>Date de deblocage</th>
                  <td>{{avance.dateDeblocage | date}}</td>
                </tr>
                <tr>
                  <th>Montant</th>
                  <td>{{avance.montant | number}}&nbsp;FCFA</td>
                </tr>
                <tr>
                  <th>Solde restant</th>
                  <td>{{avance.montant | number}}&nbsp;FCFA</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-3">

          </div>
        </div>

        <hr>
        <div class="row mb-3">
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(0,6)"
              [debut]="1"
              [checked]="true"
              [(echeance)]="echeance"
              (echeanceChange)="toggleCheck()"
            ></app-echeancier-avance>
          </div>
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(6,12)"
              [debut]="7"
              [checked]="true"
              [(echeance)]="echeance"
              (echeanceChange)="toggleCheck()"
            ></app-echeancier-avance>
          </div>
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(12,18)"
              [debut]="13"
              [checked]="true"
              [(echeance)]="echeance"
              (echeanceChange)="toggleCheck()"
            ></app-echeancier-avance>
          </div>
          <div class="col-md-3">
            <app-echeancier-avance
              [echeances]="avance.echeanceAvances.slice(18,24)"
              [debut]="19"
              [checked]="true"
              [(echeance)]="echeance"
              (echeanceChange)="toggleCheck()"
            ></app-echeancier-avance>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-success"
          (click)="clickAction(5)"
        >
          <i class="fa fa-save"></i>&nbsp;
          Enregistrer
        </button>
        <button
          type="reset"
          class="btn btn-primary"
          (click)="clickAction(6)"
        >
          <i class="fa fa-refresh"></i>&nbsp;
          Recommener
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="clickAction(7)"
        >
          <i class="fa fa-close"></i>&nbsp;
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
