<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Montant</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of echeances; let i=index">
      <td>
        <span class="form-check">
          <input
            *ngIf="checked && !item.estPaye"
            type="checkbox"
            class="form-check-input"
            id="echece{{i+debut}}"
            (change)="toggleCheck(item)"
            name="checked[]"
          >
          <label class="form-check-label" for="echece{{i+debut}}">{{i+debut}}</label>
        </span>
      </td>
      <td>{{item.dateEcheance | date: 'MMMM y'}}</td>
      <td class="text-end">{{item.montant | number}}</td>
    </tr>
  </tbody>
</table>
