<div class="row">
  <div class="col-6 m-auto shadow-lg p-0 bg-white">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="card m-auto">
        <div class="card-header">
          <h3>Register</h3>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="name" class="form-label">User Name</label>
            <input type="text" id="name" class="form-control" formControlName="userName"
              [ngClass]="{ 'is-invalid': userName.invalid && (userName.touched || userSubmitted) }">

            <span *ngIf="userName.invalid && (userName.touched || userSubmitted)" class="error-block">
              Please provide name
            </span>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email"
              [ngClass]="{ 'is-invalid': email.invalid && (email.touched || userSubmitted) }">

            <span *ngIf="email.invalid && (email.touched || userSubmitted)" class="error-block">
              <span *ngIf="email.hasError('required')">
                Please provide email id
              </span>
              <span *ngIf="email.hasError('email')">
                Please provide valid email id
              </span>
            </span>
          </div>

          <div class="row mb-3">
            <div class="col-sm-6">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password"
                [ngClass]="{ 'is-invalid': password.invalid && (password.touched || userSubmitted) }">

              <span *ngIf="password.invalid && (password.touched || userSubmitted)" class="error-block">
                <span *ngIf="password.hasError('required')">
                  Please provide password
                </span>
                <span *ngIf="password.hasError('minlength')">
                  Password should not be lesser than 8 character
                </span>
              </span>
            </div>
            <div class="col-sm-6">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                [ngClass]="{ 'is-invalid': confirmPassword.invalid && (confirmPassword.touched || userSubmitted) }">

              <span *ngIf="confirmPassword.invalid && (confirmPassword.touched || userSubmitted)" class="error-block">
                <span *ngIf="confirmPassword.hasError('required')">
                  Please confirm password
                </span>
                <span *ngIf="confirmPassword.hasError('matching')">
                  Password not matched
                </span>
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="tel" id="mobile" class="form-control" formControlName="mobile"
              [ngClass]="{ 'is-invalid': mobile.invalid && (mobile.touched || userSubmitted) }">

            <span *ngIf="mobile.invalid && (mobile.touched || userSubmitted)" class="error-block">
              <span *ngIf="mobile.hasError('required')">
                Please provide mobile phone
              </span>
              <span *ngIf="mobile.hasError('maxlength')">
                Mobile phone should not be upper than 20 digits
              </span>
            </span>
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-primary me-2" value="Save">
            <input type="reset" class="btn btn-secondary" value="Cancel">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
