<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card shadow">
      <div class="card-body">
        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr class="align-middle">
              <th>#</th>
              <th>Date Fin</th>
              <th>Montant</th>
              <th>Solde R</th>
              <th>Echce T</th>
              <th>Echce R</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of avances; let i=index" class="align-middle">
              <td>{{i+1}}</td>
              <td>{{item.dateFin | date: 'MMMM y'}}</td>
              <td class="text-end">{{item.montant| number}}</td>
              <td class="text-end">{{soldeRestant(item)| number}}</td>
              <td class="text-end">{{nbrEcheances(item)| number}}</td>
              <td class="text-end">{{nbrEcheancesR(item)| number}}</td>
              <td class="text-center">
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-primary me-1" (click)="clickAction(item,8)" data-bs-toggle="modal"
                    data-bs-target="#rbtAvance">
                    <i class="fa fa-edit"></i>&nbsp;
                    Editer
                  </button>
                  <button class="btn btn-danger" (click)="clickAction(item,9)" data-bs-toggle="modal">
                    <i class="fa fa-trash"></i>&nbsp;
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
