<div class="row card shadow mt-3">
  <div class="card-body">
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="btn-group">
            <input type="search" class="form-control" name="nom" id="nom" placeholder="Nom du membre" [(ngModel)]="nom">
            <select name="agence" id="agence" class="form-control">
              <option value="">Agence</option>
            </select>
            <button type="submit" class="btn btn-outline-info" (click)="onSearch()">
              <i class="fa fa-search"></i>
            </button>
            <button type="reset" class="btn btn-outline-danger" (click)="onSearchClear()">
              <i class="fa fa-close"></i>
            </button>
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addMembre"
              (click)="ajouterMembre()">
              <i class="fa fa-user-plus"></i>
            </button>
            <button class="btn btn-outline-warning">
              <i class="fa fa-print"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 card shadow m-0 mt-3">
    <div class="card-body">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th>#</th>
            <th>Nom et prénom</th>
            <th>Date adhésion</th>
            <th>Agence</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mbr of listeMembres | filter:searchNom:'nom'; let i=index" (click)="select(mbr.id)">
            <td>{{i+1}}</td>
            <td>{{mbr.nom | uppercase}} {{mbr.prenom | uppercase}}</td>
            <td>{{mbr.dateAdhesion | date: 'dd/MM/YYYY'}}</td>
            <td>{{mbr.agence}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4 text-end pe-0">
    <app-membre [membre]="membre"></app-membre>
  </div>
</div>

<div id="addMembre" class="modal fade" tabindex="-1" aria-labelledby="addMembre" aria-hidden="true">
  <app-add-membre [membre]="membre" [titre]="titre" (membreChange)="save()"></app-add-membre>
</div>

