<div class="container" style="margin-top: 70px; width: 1080px;">
  <div class="row mb-3">
    <div class="col-md-8">
      <form>
        <div class="row">
          <div class="btn-group">
            <input type="search" class="form-control" name="nom" id="nom"
            placeholder="Nom du membre"
            [(ngModel)]="nom">
            <select name="agence" id="agence" class="form-control">
              <option value="">Agence</option>
            </select>
            <select name="service" id="service" class="form-control">
              <option value="">Service</option>
            </select>
            <button type="submit" class="btn btn-primary" (click)="onSearch()">
              <i class="fa fa-search"></i>
            </button>
            <button type="reset" class="btn btn-primary" (click)="onSearchClear()">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 text-end">
      <button class="btn btn-primary me-2"  data-bs-toggle="modal" data-bs-target="#addMembre"
      (click)="ajouterMembre()">
        <i class="fa fa-plus"></i>&nbsp;
        Ajouter un membre
      </button>
      <button class="btn btn-primary">
        <i class="fa fa-print"></i>&nbsp;
        Imprimer
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let membre of listeMembres | filter:searchNom:'nom'">
      <app-membre [membre]="membre" (membreChange)="editMembre($event)"></app-membre>
    </div>
  </div>
</div>

<div id="addMembre" class="modal fade" tabindex="-1" aria-labelledby="addMembre" aria-hidden="true">
  <app-add-membre [membre]="membre" (membreChange)="saveChange($event)"></app-add-membre>
</div>

<div id="addPicture" class="modal fade" tabindex="-1" aria-labelledby="addPicture" aria-hidden="true">
  <app-add-picture [imageUrl]="imageUrl" [membre]="membre" (membreChange)="saveChange($event)"></app-add-picture>
</div>
