<div class="d-flex align-items-end">
  <div class="p-2">
    <button type="button" class="btn btn-warning btn-sm shadow-sm">
      <i class="fas fa-cloud-upload-alt"></i>&nbsp; Importer
    </button>
  </div>
  <div class="p-2">
    <button type="button" class="btn btn-success btn-sm shadow-sm">
      <i class="fas fa-cloud-download-alt"></i>&nbsp;Exporter
    </button>
  </div>
  <div class="p-2">
    <button
      type="button"
      class="btn btn-primary btn-sm shadow-sm"
      (click)="nouveauEvent()"
    >
      <i class="fas fa-plus"></i>&nbsp;Nouveau
    </button>
  </div>
</div>
