<div class="container" style="margin-top: 70px; width: 1080px;">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-primary shadow">
        <div class="card-body">
          <img src="{{baseUrl}}{{membre.photo}}" class="card-img-top" alt="photo membre">
        </div>
      </div>
    </div>
    <!--Infos membre-->
    <div class="col-md-8 mb-2">
      <div class="card border-primary shadow">
        <div class="card-header">
          <h3>
            <i class="fa fa-user"></i>&nbsp;
            Infos membre
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-borderless table-hover table-responsive">
                <tbody>
                  <tr class="align-middle">
                    <th>Nom</th>
                    <td>{{membre.nom | uppercase}}</td>
                  </tr>
                  <tr class="align-middle">
                    <th>Prénom</th>
                    <td>{{membre.prenom | uppercase}}</td>
                  </tr>
                  <tr class="align-middle">
                    <th>Genre</th>
                    <td>{{membre.sexe}}</td>
                  </tr>
                  <tr class="align-middle">
                    <th>Email</th>
                    <td>{{membre.email}}</td>
                  </tr>
                  <tr class="align-middle">
                    <th>Téléphone</th>
                    <td>{{membre.telephone}}</td>
                  </tr>
                  <tr class="align-middle">
                    <th>Agence</th>
                    <td>{{membre.agence}}</td>
                  </tr>
                  <tr class="align-middle">
                    <th>Service</th>
                    <td>{{membre.service}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-outline-primary">
                <i class="fa fa-check"></i>&nbsp;
                Activer
              </button>
              <button class="btn btn-outline-primary">
                <i class="fa fa-sack-dollar"></i>&nbsp;
                Cotisation
              </button>
              <button class="btn btn-outline-primary">
                <i class="fa fa-hand-holding-dollar"></i>&nbsp;
                Avance
              </button>
              <button class="btn btn-outline-primary">
                <i class="fa fa-money-check"></i>&nbsp;
                Crédit
              </button>
              <button class="btn btn-outline-primary">
                <i class="fa fa-user-group"></i>&nbsp;
                Adhérer
              </button>
              <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateMembre">
                <i class="fa fa-edit"></i>&nbsp;
                Modifier
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Infos membres-->

    <div class="col-md-12">
      <div class="accordion" id="infosMembre">

         <!--Cotisations-->
        <div class="card border-primary shadow mb-2 accordion-item">
          <div class="card-header" data-bs-toggle="collapse" data-bs-target="#cotisations"
            aria-expanded="true" aria-controls="cotisations">
            <div class="row text-white">
              <div class="col-md-6 h3">
                <i class="fa fa-sack-dollar"></i>&nbsp;
                Cotisations
              </div>
              <div class="col-md-6 text-end h3">
                <i class="fa fa-coins"></i>&nbsp;
                {{montantCotisation() | number}}&nbsp;
                FCFA
              </div>
            </div>
          </div>
           <!--Contenu cotisations-->
          <div id="cotisations" class="accordion-collapse collapse" aria-labelledby="cotisations"
            data-bs-parent="#infosMembre">
             <!--Entete liste cotisation-->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-end mb-3">
                  <button class="btn btn-primary me-2"  data-bs-toggle="modal" data-bs-target="#updateCotisation"
                  (click)="ajouterCotisation()">
                    <i class="fa fa-plus"></i>&nbsp;
                    Ajouter une cotisation
                  </button>
                  <button class="btn btn-warning">
                    <i class="fa fa-print"></i>&nbsp;
                    Imprimer
                  </button>
                </div>
              </div>

               <!--Liste Contisation-->
              <app-cotisation-list [cotisations]="cotisations" [(cotisation)]="cotisation"></app-cotisation-list>

               <!--Pagination cotisation-->
              <app-pagination></app-pagination>
            </div>
          </div>
        </div>

        <div class="card border-primary shadow mb-2 accordion-item">
          <div class="card-header accordion-header" data-bs-toggle="collapse" data-bs-target="#avances"
            aria-expanded="true" aria-controls="collapseOne">
            <div class="row text-white">
              <div class="col-md-6 h3">
                <i class="fa fa-hand-holding-dollar"></i>&nbsp;
                Avances
              </div>
              <div class="col-md-6 text-end h3">
                <i class="fa fa-coins"></i>&nbsp;
                {{10000 | number}}&nbsp;
                FCFA
              </div>
            </div>
          </div>
          <div id="avances" class="accordion-collapse collapse" aria-labelledby="avances"
            data-bs-parent="#infosMembre">
            <div class="card-body">
              <app-avance-list></app-avance-list>
            </div>
          </div>
        </div>

        <div class="card border-primary shadow mb-2 accordion-item">
          <div class="card-header accordion-header" data-bs-toggle="collapse" data-bs-target="#credits"
            aria-expanded="true" aria-controls="credits">
            <div class="row text-white">
              <div class="col-md-6 h3">
                <i class="fa fa-money-check"></i>&nbsp;
                Crédits
              </div>
              <div class="col-md-6 text-end h3">
                <i class="fa fa-coins"></i>&nbsp;
                {{10000 | number}}&nbsp;
                FCFA
              </div>
            </div>
          </div>
          <div id="credits" class="accordion-collapse collapse" aria-labelledby="credits"
            data-bs-parent="#infosMembre">
            <div class="card-body">
              <app-credit-list></app-credit-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="updateMembre" class="modal fade" tabindex="-1" aria-labelledby="updateMembre" aria-hidden="true">
    <app-add-membre [membre]="membre"></app-add-membre>
  </div>

  <div id="updateCotisation" class="modal fade" tabindex="-1" aria-labelledby="updateCotisation" aria-hidden="true">
    <app-add-cotisation [cotisation]="cotisation" (cotisationChange)="saveCotisationChange($event)"></app-add-cotisation>
  </div>
