<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card shadow m-0 mt-3">
      <div class="card-body" data-bs-toggle="modal" data-bs-target="#updatePhoto">
        <img src="{{imageUrl}}" class="card-img-top mb-1" alt="photo membre">
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item active" href="#profile" data-bs-toggle="tab">
          <i class="fa fa-user"></i>&nbsp;
          Profile
        </a>
        <a class="list-group-item" href="#cotisations" data-bs-toggle="tab">
          <div class="position-relative">
            <i class="fa fa-sack-dollar"></i>&nbsp;
            Cotisations
          </div>
        </a>
        <a class="list-group-item" href="#avances" data-bs-toggle="tab">
          <div class="position-relative">
            <i class="fa fa-hand-holding-dollar"></i>&nbsp;
            Avances
          </div>
        </a>
        <a class="list-group-item" href="#credits" data-bs-toggle="tab">
          <div class="position-relative">
            <i class="fa fa-money-check"></i>&nbsp;
            Crédits
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-9">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="tab-content">
          <div class="tab-pane active" id="profile">
            <app-profile [membre]="membre"></app-profile>
          </div>
          <div class="tab-pane" id="cotisations">
            <div class="row">
              <div class="col-md-12 text-end mb-3">
                <div class="card shadow">
                  <div class="card-body">
                    <button class="btn btn-primary me-2" data-bs-toggle="modal"
                      data-bs-target="#updateCotisation" (click)="newCotisation()">
                      <i class="fa fa-plus"></i>&nbsp;
                      Ajouter une cotisation
                    </button>
                    <button class="btn btn-warning">
                      <i class="fa fa-print"></i>&nbsp;
                      Imprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <app-cotisation-list [cotisations]="cotisations"></app-cotisation-list>
          </div>

          <div class="tab-pane" id="avances">
            <div class="row">
              <div class="col-md-12 text-end mb-3">
                <div class="card shadow">
                  <div class="card-body">
                    <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#updateAvance"
                      (click)="newAvance()">
                      <i class="fa fa-plus"></i>&nbsp;
                      Ajouter une avance
                    </button>
                    <button class="btn btn-warning">
                      <i class="fa fa-print"></i>&nbsp;
                      Imprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <app-avance-list></app-avance-list>
          </div>

          <div class="tab-pane" id="credits">
            <div class="row">
              <div class="col-md-12 text-end mb-3">
                <div class="card shadow">
                  <div class="card-body">
                    <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#updateCredit"
                      (click)="newCotisation()">
                      <i class="fa fa-plus"></i>&nbsp;
                      Ajouter un crédit
                    </button>
                    <button class="btn btn-warning">
                      <i class="fa fa-print"></i>&nbsp;
                      Imprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <app-credit-list></app-credit-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="updateCotisation" class="modal fade" tabindex="-1" aria-labelledby="updateCotisation" aria-hidden="true">
  <app-add-cotisation [cotisation]="cotisation" (cotisationChange)="saveCotisationChange($event)">
  </app-add-cotisation>
</div>

<div id="updateAvance" class="modal fade" tabindex="-1" aria-labelledby="updateAvance" aria-hidden="true">
  <app-add-avance>
  </app-add-avance>
</div>

<div id="updateCredit" class="modal fade" tabindex="-1" aria-labelledby="updateCredit" aria-hidden="true">
  <app-add-credit [credit]="credit" (creditChange)="saveCreditChange($event)"></app-add-credit>
</div>

<div id="updatePhoto" class="modal fade" tabindex="-1" aria-labelledby="updatePhoto" aria-hidden="true">
  <app-add-picture [membre]="membre" (membreChange)="update()"></app-add-picture>
</div>

<div id="addMembre" class="modal fade" tabindex="-1" aria-labelledby="addMembre" aria-hidden="true">
  <app-add-membre [membre]="membre" [titre]="titre" (membreChange)="update()"></app-add-membre>
</div>
