<div class="card shadow">
  <div class="card-body">
    <div class="h3 text-info">
      <i class="fas fa-info-circle"></i> Infos Membre
    </div>
    <hr />
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <table class="table table-striped table-responsive">
              <tbody>
                <tr>
                  <th colspan="2">Nom</th>
                  <th>Personnel Id</th>
                </tr>
                <tr>
                  <td colspan="2">
                    {{ membre.nom }}
                  </td>
                  <td>
                    {{ membre.personnelId }}
                  </td>
                </tr>
                <tr>
                  <th>Sexe</th>
                  <th>Date de naissance</th>
                  <th>Lieu de naissance</th>
                </tr>
                <tr>
                  <td>{{ membre.sexeNom }}</td>
                  <td>{{ membre.dateNaissance | date }}</td>
                  <td>{{ membre.lieuNaissance }}</td>
                </tr>
                <tr>
                  <th>Poste</th>
                  <th>Contact</th>
                  <th>Email</th>
                </tr>
                <tr>
                  <td>{{ membre.posteLibelle }}</td>
                  <td>{{ membre.contact }}</td>
                  <td>{{ membre.email }}</td>
                </tr>
                <tr>
                  <th>Créé par</th>
                  <th>Modifié le</th>
                  <th>Par</th>
                </tr>
                <tr>
                  <td>{{ membre.creePar }}</td>
                  <td>{{ membre.modifieLe | date }}</td>
                  <td>{{ membre.modifiePar }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-3" (click)="onImageChange()">
        <img
          class="shadow img-thumbnail"
          [ngClass]="{ inactif: !membre.estActif }"
          src="{{ membre.photoUrl }}"
          alt=""
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="d-flex justify-content-between">
        <div class="d-flex justity-content-between">
          <button type="button" class="btn btn-warning" (click)="onUpdate()">
            <i class="fa fa-edit"></i>&nbsp; Modifier
          </button>
          <button
            type="button"
            class="btn btn-primary ms-1"
            (click)="onActivateToggle()"
          >
            <i
              [ngClass]="{
                fa: true,
                'fa-lock': membre.estActif,
                'fa-lock-open': !membre.estActif
              }"
            ></i
            >&nbsp;
            {{ actifBtnLabel }}
          </button>
        </div>
        <button type="button" class="btn btn-danger" (click)="onDelete()">
          <i class="fa fa-trash"></i>&nbsp; Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
