<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="mb-2 text-gray-800">
        <i class="fa fa-info-circle text-primary"></i>
        &nbsp;Informations de l'utilisateur
      </h1>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Information de l'utilisateur
      </h6>
    </div>
    <div class="card-body">
      <div>
        <div class="row">
          <div class="col-3">
            <app-infos-membre [membre]="membre"></app-infos-membre>
          </div>
          <div class="col-9">
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
