<div class="card shadow">
  <div class="card-body">
    <div class="h3">Modification du poste "{{ poste.libelle }}"</div>
    <p>Formulaire de modification du poste</p>
    <hr />
    <form
      #posteForm="ngForm"
      (ngSubmit)="onSubmit(posteForm)"
      class="was-validated"
    >
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="mb-3">
            <label for="nom" class="form-label">Libellé du poste</label>
            <input
              type="text"
              id="nom"
              class="form-control"
              name="nom"
              [(ngModel)]="poste.libelle"
              required
              placeholder="Le libellé du poste"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-between">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i>&nbsp; Enregistrer
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            <i class="fa fa-close"></i>&nbsp; Annuler
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
